body {
  margin: 0px;
  padding: 0px;
  background: url("/img/celsius-2125_1920.jpg");
}

main {
  border: 3px solid black;
  background-color: #ebebeb;
  padding: 5px 61px 50px 61px;
  width: 500px;
  margin: 175px auto;
}

.logo img {
  width: 196px;
  margin: 10px auto;
  display: block;
  transform: rotate(301deg);
  position: absolute;
  top: 286px;
  left: 410px;
}

h1 {
  text-align: center;
  font-size: 45px;
  margin: 10px auto;
  margin-bottom: 45px;
}

.converter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 26px;
}

label {
  margin-bottom: 10px;
}

input {
  width: 208px;
  text-align: center;
}

button {
  margin-top: 10px;
  border: 1px solid black;
}